<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareMinder"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Login_Signup.Forgotpassword"
            android:exported="false" />
        <activity
            android:name=".Activity.Statistic.StatisticActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Body.BodyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.HelpSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.PrivacySettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.AdvancedSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.NotifyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.IntroductionActivity4"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.IntroductionActivity3"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.IntroductionActivity2"
            android:exported="false" />
        <activity
            android:name=".ListView.Home_ListView"
            android:exported="false" />
        <activity
            android:name=".Activity.Water.WaterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Food.FoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Steps.StepActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Exercises.ExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Daily.DailyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Information.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Login_Signup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Login_Signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Food.DisplayFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Food.FoodItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Login_Signup.Login_Signup"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>