<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Check whether Health Connect is installed or not -->
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
    <!-- App permissions on read/write access to Health Connect -->
    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.WRITE_ACTIVE_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.WRITE_STEPS" />
    <uses-permission android:name="android.permission.health.READ_BODY_FAT" />
    <uses-permission android:name="android.permission.health.WRITE_BODY_FAT" />
    <uses-permission android:name="android.permission.health.READ_BODY_WATER_MASS" />
    <uses-permission android:name="android.permission.health.WRITE_BODY_WATER_MASS" />
    <uses-permission android:name="android.permission.health.READ_BONE_MASS" />
    <uses-permission android:name="android.permission.health.WRITE_BONE_MASS" />
    <uses-permission android:name="android.permission.health.READ_EXERCISE" />
    <uses-permission android:name="android.permission.health.WRITE_EXERCISE" />
    <uses-permission android:name="android.permission.health.READ_DISTANCE" />
    <uses-permission android:name="android.permission.health.WRITE_DISTANCE" />
    <uses-permission android:name="android.permission.health.READ_WEIGHT" />
    <uses-permission android:name="android.permission.health.WRITE_WEIGHT" />
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.WRITE_TOTAL_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_SPEED" />
    <uses-permission android:name="android.permission.health.WRITE_SPEED" />
    <uses-permission android:name="android.permission.health.READ_NUTRITION" />
    <uses-permission android:name="android.permission.health.WRITE_NUTRITION" />
    <uses-permission android:name="android.permission.health.READ_HYDRATION" />
    <uses-permission android:name="android.permission.health.WRITE_HYDRATION" />
    <uses-permission android:name="android.permission.health.READ_HEIGHT" />
    <uses-permission android:name="android.permission.health.WRITE_HEIGHT" />

    <!--App permissions to access sensor-->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareMinder"
        tools:targetApi="31" >
        <activity
            android:name=".Activity.HealthConnect.HC_Permission"
            android:exported="false" />
        <activity
            android:name=".Activity.HealthConnect.PermissionsRationaleActivity"
            android:enabled="true"
            android:exported="true" > <!-- Handle intent -->
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HealthConnect.HealthConnect"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.Login_Signup.Forgotpassword"
            android:exported="false" />
        <activity
            android:name=".Activity.Statistic.StatisticActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Body.BodyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.HelpSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.PrivacySettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.AdvancedSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.NotifyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.IntroductionActivity4"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.IntroductionActivity3"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.IntroductionActivity2"
            android:exported="false" />
        <activity
            android:name=".ListView.Home_ListView"
            android:exported="false" />
        <activity
            android:name=".Activity.Water.WaterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Food.FoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Steps.StepActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Exercises.ExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Daily.DailyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Information.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.Login_Signup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.Login_Signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Food.DisplayFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Food.FoodItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Introduction.Login_Signup.Login_Signup"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>